.admin .imgProp{
    width: 30rem;
}


.admin{
    height: auto;
}
.admin .depProp1{
    transform: scale(0.8);
    transform-origin: top left; 
}

.admin .depProp1{
    height: 40vh;
}


/* .admin{
    transform: scale(.8);
    transform-origin:top left;
} */