.admin .imgProp{
    width: 30rem;
}

.admin{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.admin{
    height: auto;
}
.admin .depProp1{
    transform: scale(0.8);
    transform-origin: top left;
}

.admin .inputForm{

    margin-top: -4%;
}

